---
import Header from "../layouts/Header.astro";
---

<Header route="Donate">
  <div>hello</div>
</Header>

<style></style>

<script
  src="https://www.paypal.com/sdk/js?client-id=AVaDooosKtu0jUY-p7A1y6qdyXiRASMhW5iWTjfQDFyqKCCOOzMHq9xV48K9_UdLGok9YI8p37bd0sfo&components=buttons"
></script>
