---
import Trust from "../components/Trust.astro";
import Header from "../layouts/Header.astro";
---

<Header route="FAQs">
  <main>
    <div class="container">
      <div class="container">
        <h2>Frequently Asked Questions</h2>
        <div class="accordion">
          <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
              <span class="accordion-title"
                >Who is the President of Anand Jivan foundation Trust?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Mr. Guddu Kumar is the President of Anand Jivan Foundation
                Trust.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-2" aria-expanded="false">
              <span class="accordion-title"
                >Official website and Email of Anand Jivan Foundation Trust?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Official Website: www.ajftrust.org Official Email:
                info@ajftrust.org Email:support@ajftrust.org
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-3" aria-expanded="false">
              <span class="accordion-title"
                >What are the ways in which I can donate/contribute to Anand
                Jivan Foundation Trust?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Following are the ways in which you can donate: You can directly
                donate in the BANK ACCOUNT of Anand Jivan Foundation Trust
                Donors can submit DD/Cheque on the name of Anand Jivan
                Foundation Trust in the BANK Donors can submit DD/Cheque on the
                name of Anand Jivan Foundation Trust at the TRUST Donate ONLINE
                through the Official website of Anand Jivan Foundation Trust You
                can donate in cash directly at the Foundation and obtain a
                receipt for the donation.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-4" aria-expanded="false">
              <span class="accordion-title">
                Is the Donation given to Anand Jivan Foundation Trust, eligible
                for tax benefit ?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Yes. Donation Given to Anand Jivan Foundation Trust is eligible
                for tax benefit under Sec 80G of Income tax Act.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title"
                >What is Legal Status of Anand Jivan Foundation Trust In Income
                Tax Act,1961?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Anand Jivan Foundation Trust is a registered trust under section
                12 AA of Income Tax Act 1961. The income is calculated according
                to Section 11.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title"
                >What is the meaning of Proof of Donation?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                The Proof of Donation depends on how you donated. Eg. Directly
                Deposited in Bank: Pay in Slip given by Bank(Customer Copy)
                which mentions Deposite Date, Amount, Cheque No(If any), Issuer
                bank name(If any), Branch Name. Net Banking/online fund transfer
                : Extract of your bank statement or Print of Transaction Amount
                Given to our representative: Issued Provisional Receipt
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What is the provision for validity under section 80G??</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                As per the amended rules once an orgainisation is registered as
                charitable institution will remain forever unless it is
                specifically withdrawed by Government. Anand Jivan Foundation
                Trust is a charitable Institution and 80G certificate is valid
                for perpectual life.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title"
                >How Donor will identify which section applicable to him??</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>H80G is applicable for all.</p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What Section 80G of Income Tax Act says??</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Section 80G Minimum Donation: No such Requirement Eligible
                Person: Every person whose income is taxable under Income Tax
                Act,1961 Under this section 50% of your donation to our fund
                shall qualify for exemption from income tax. Moreover, the
                qualifying amount must not exceed 10% of your gross income. Let
                us make it clear through an example. Suppose, your gross annual
                income for the current financial year (2010-2011) is Rs.
                4,00,000. You donate to our Association the sum of Rs. 1,00,000.
                In this case 50% of your donated amount, i.e. Rs. 50,000 will
                qualify for tax exemption. However, this qualifying amount must
                not be above 10% of your total income, i.e. Rs. 40,000. So, in
                this instance, the actual amount eligible for deduction from
                income will be Rs. 40,000. The other important change made by
                the Finance Act, 2012 donation in excess of Rs. 10,000/- under
                section 80G should be made through account payee bank transfers.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What is legal Status of ANAND JIVAN FOUNDATION TRUST?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Anand Jivan Foundation Trust is a Registered trust under Indian
                Trust Act, 1882.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                In how much time I can get my final receipt??</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                You will receive it within 10 days from the date we receive the
                proof of donation..
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What if I don't receive the Donation Certificate within
                reasonable time(30 days) from the date of Donation?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                You will need to mail the greviance at ‘info@ajmsbihar.org’ with
                the refrence of the previous mails (if Any) and proof of
                donation.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                Can Anand Jivan Foundation Trust issue one Donation certificate
                for multiple donations on different dates(Like monthly/Yearly/or
                any multiple days)?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                No, We will issue Separate Donation Certificate for each
                Donation.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                I am not able to receive any updates, phone calls and
                foundation. What should I do?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Kindly mail at info@ajftrust.org or else you can call us on our
                help line number-9155751363.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                When was Anand Jivan Foundation Trust established?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Anand Jivan Foundation Trust was established on 06th April 2023.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What is the registration number of Anand Jivan Foundation Trust?
                (Trust)</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>Trust Registration Number: 46</p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What is the PAN Number of Anand Jivan Foundation Trust?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                The PAN Number of Anand Jivan Foundation Trust is AAJTA9323K
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What is the TAN Number of Anand Jivan Foundation Trust?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                The TAN Number of Anand Jivan Foundation Trust is PTNA10297A
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What are the ways in which I can donate/contribute to Anand
                Jivan Foundation Trust?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Following are the ways in which you can donate: You can directly
                donate in the BANK ACCOUNT of Anand Jivan Foundation Trust
                Donors can submit DD/Cheque on the name of Anand Jivan
                Foundation Trust in the BANK Donors can submit DD/Cheque on the
                name of Anand Jivan Foundation Trust at the TRUST Donate ONLINE
                through the Official website of Anand Jivan Foundation Trust You
                can donate in cash directly at the Foundation and obtain a
                receipt for the donation.
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                What is the TAN Number of Anand Jivan Foundation Trust?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                The TAN Number of Anand Jivan Foundation Trust is PTNA10297A
              </p>
            </div>
          </div>
          <div class="accordion-item">
            <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">
                Bank accounts does Anand Jivan Foundation Trust hold? What are
                the names and details of all bank account?</span
              >
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-content">
              <p>
                Bank Name: HDFC BANK <br />
                Account No: 50200082194362 <br />
                IFSC Code: HDFC0005160 <br />
                Branch Address: 1st Floor, Naz Market Shivdhara Chowk Darbhanga -
                846004 <br />
              </p>
            </div>
          </div>
        </div>
      </div>
      <Trust />
    </div>
  </main>
</Header>

<style>
  main {
  }
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 1rem;
  }
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }

  .accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid var(--green);
  }

  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }

  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: var(--green);
  }

  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: var(--green);
    border: 1px solid var(--green);
  }

  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    text-align: left;
  }

  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }

  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }

  .accordion button[aria-expanded="true"] {
    color: var(--green);
  }
  .accordion button[aria-expanded="true"] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded="true"] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      opacity 200ms linear,
      max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
</style>

<script is:inline>
  const items = document.querySelectorAll(".accordion button");

  function toggleAccordion() {
    const itemToggle = this.getAttribute("aria-expanded");

    for (i = 0; i < items.length; i++) {
      items[i].setAttribute("aria-expanded", "false");
    }

    if (itemToggle == "false") {
      this.setAttribute("aria-expanded", "true");
    }
  }

  items.forEach((item) => item.addEventListener("click", toggleAccordion));
</script>
