---
import Header from "../layouts/Header.astro";
---

<Header route="Members">
  <main>
    <div class="container">
      <form action="" class="styled-form">
        <div class="input-container">
          <div class="input-box">
            <label for="name">First Name:</label>
            <input name="Name" id="name" type="text" placeholder="John" />
          </div>
          <div class="input-box">
            <label for="lastname">Last Name:</label>
            <input
              name="lastname"
              id="lastname"
              type="text"
              placeholder="Doe"
            />
          </div>
        </div>
        <div class="input-container">
          <div class="input-box">
            <label for="fname">Father First Name:</label>
            <input name="FName" id="fname" type="text" placeholder="John" />
          </div>
          <div class="input-box">
            <label for="flastname">Father Last Name:</label>
            <input
              name="Flastname"
              id="flastname"
              type="text"
              placeholder="Doe"
            />
          </div>
        </div>
        <div class="input-container">
          <div class="input-box">
            <label for="mname">Mother First Name:</label>
            <input name="MName" id="mname" type="text" placeholder="Ruth" />
          </div>
          <div class="input-box">
            <label for="mlastname">Mother Last Name:</label>
            <input
              name="Mlastname"
              id="mastname"
              type="text"
              placeholder="Len"
            />
          </div>
        </div>
        <div class="input-container">
          <div class="input-box">
            <label for="email">Email:</label>
            <input
              name="Email"
              id="email"
              type="email"
              placeholder="youremail@gmail.com"
            />
          </div>
          <div class="input-box">
            <label for="qualification">Qualification:</label>
            <input
              name="Qualification"
              id="qualification"
              placeholder="B.Sc. Data Science"
              type="text"
            />
          </div>
        </div>
        <div class="input-container">
          <div class="input-box">
            <label for="datepicker">Date of Birth:</label>
            <input type="date" id="datepicker" name="Date" />
          </div>
          <div class="input-box">
            <label for="gender">Select your gender:</label>
            <select id="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
        <div class="input-container">
          <div class="input-box">
            <label for="mobile">Mobile Number:</label>
            <input
              name="Mobile"
              id="mobile"
              placeholder="1234567890"
              type="number"
            />
          </div>
          <div class="input-box">
            <label for="address">Address:</label>
            <input
              name="Address"
              type="text"
              id="address"
              placeholder="32 , cross road"
            />
          </div>
        </div>
        <!-- <div class="input-container">
          <div class="input-box">
            <label for="message">Message:</label>
            <textarea
              class="text-area"
              placeholder="custom message"
              name="Message"
              id="message"></textarea>
          </div>
        </div> -->

        <button type="submit">Submit</button>
      </form>
    </div>
  </main>

  <style>
    main {
      background-image: url(../assets/green-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--free);
      display: flex;

      justify-content: center;
      flex-flow: column nowrap;
      min-height: 100vh;
    }

    form {
      flex: 1;
      padding: 1rem;
      /* width: 700px; */
    }
    .input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      /* gap: 3rem; */
    }
    .input-box {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    /* General styles for the form */
    .styled-form {
      font-family: Arial, sans-serif;
      /* max-width: 720px; */
      margin: 0 auto;
      /* background-color: var(--lightgreen2); */
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    /* Styles for input container */
    .input-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
    }

    /* Styles for input box */
    .input-box {
      flex: 1 1 45%;
    }

    /* Styles for labels */
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #333;
    }

    /* Styles for inputs */
    input,
    select {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 0.5px solid #ccc;
      background-color: #f5f5f5;
      color: #555;
      resize: none;
      outline: none;
    }
    .container {
      width: 800px;
      margin: 0 auto;
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      padding: 3rem 2rem;
    }
    input:hover,
    section:hover,
    textarea:hover {
      border: 1px solid var(--yellow);
      /* Add any other hover styles you want for these elements */
    }
    .text-area {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      color: #555;
      font-size: 16px; /* Adjust the font size as needed */
      resize: none; /* This property allows vertical resizing of the textarea */
      outline: none;
    }

    /* Styles for submit button */
    button {
      padding: 12px;
      margin-top: 15px;
      border: none;
      border-radius: 5px;
      background-color: var(--yellow);
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      width: 50%;
    }

    button:hover {
      background-color: var(--green);
    }

    @media (max-width: 780px) {
      .form {
        width: 100%;
      }
      .details {
        padding: 1rem;
      }
      .details p {
        width: 100%;
        font-size: 18px;
      }
      .image-con {
        height: auto;
        width: 100%;
        border-radius: 0;
      }
      main {
        padding: 0;
      }
      .section2 {
        flex-direction: column;
      }
      .input-container {
        flex-direction: column;
      }
      .styled-form {
        max-width: 100%;
        margin: 1rem 0.5rem;
      }
      .container {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0rem;
      }
    }
  </style>
</Header>
