---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>News</h1>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    flex-wrap: wrap;
  }
</style>
