---
import SliderMain from "../components/SliderMain.astro";
import Vission from "../components/SliderMain.astro";
import Header from "../layouts/Header.astro";
---

<Header route="Programs">
  <div>
    <SliderMain />
  </div>
</Header>
